/* frontend/mall/src/components/layout/layout.css */

.layout-shell {
  min-height: 100vh;
  background: #fff;
}

.layout-main {
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: var(--amol-header-height);
  overflow: visible;
}

.layout-main--without-header {
  padding-top: 0;
}

.layout-main--with-footer {
  padding-bottom: 80px;
}

@media (max-width: 1023px) and (orientation: portrait) {
  .layout-main--with-footer {
    padding-bottom: var(--footer-nav-height);
  }

  .layout-main--with-action-footer {
    padding-bottom: var(--footer-action-height);
  }
}