/* frontend/console/shell/src/styles/location.css */

/* =========================================================
 * Location Create
 * ======================================================= */

.location-create {
  width: 100%;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
}

/* =========================================================
 * Location Form Fields
 * ======================================================= */

.location-form-fields__feedback {
  margin-top: 0.25rem;
}