/* frontend/console/shell/src/styles/tokenBlueprintReview.css */

/* spacing blocks */

.tbrd-section {
  margin-top: 16px;
}

.tbrd-reviewcard-wrapper {
  margin-top: 16px;
  padding: 10px;
}

/* section header */

.tbrd-section-title {
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 700;
}

/* lists */

.tbrd-grid {
  display: grid;
  gap: 10px;
}

/* Review Aggregate Card */

.tbrd-aggregate-card {
  width: 100%;
}

.tbrd-aggregate-metric {
  padding: 10px;
}